* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
    list-style: none;
    text-decoration: none;
}

ul {
    
    display: flex;
    margin: 10px;
}

li {
    color: black;
    margin-right: 20px;
    transition: 0.3ms;
}

li:hover {
    transition: 0.3ms;
    color: #e95555;
}
